
@font-face {
	font-family: "SplineSansMonoLight";
	src: url("../Fuentes/SplineSansMonoLight.ttf") format("opentype");
}

* {
	text-align: center;
	font-family: "SplineSansMonoLight";	
}

nav a img {
	transition: transform 0.5s ease;
}

nav a img:hover {
	transform: scale(1.2);
}

div h1 {
	margin: 30px;
	font-size: 35px;
}

h1 strong, h2 strong {
	color: #4ea8de;
}

div img {
	border-radius: 1rem;
}

div p {
	width: 20%;
	text-align: justify;
	position: relative;
	left: 38%;
	margin: 30px;
}

#definicion audio {
	position: fixed;
	margin-left: 24%;
	margin-top: 7%;
}

#definicion p strong, #importancia p strong {
	color: #5390d9;
}

#ruta h2 {
	margin: 40px;
}
	
section p {
	background-color: #5390d9;
	color: whitesmoke;
	border-radius: 1rem;
	width: 40%;
	position: relative;
	left: 29%;
	padding: 20px;
	margin: 20px;	
	transition: transform 0.5s ease;
}

section p:hover {
	margin: 25px;
	transform: scale(1.2);
}

footer p {
	padding: 20px;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: -1px;
}

footer p strong {
	color: #4ea8de;
}