<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Maestría en IA/Página No Encontrada</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/404.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.png') }}" type="image/x-icon">
</head>
<body>

	<main class="animacion">
		<h1><strong>4</strong>0<strong>4</strong></h1>
		<button>
	        <a href="#">
	        	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM13 12V16H11V12H8L12 8L16 12H13Z"></path></svg>
	        </a>
	    </button>
		
		<img src="{{ url_for('static', filename='IMG/Logo.png') }}">
		<h2><strong>Página</strong> No Encontrada</h2>
		<p><a href="{{ url_for('index') }}">Volver a la página principal</a></p>
	</main>

	<footer>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='IMG/Logo.png') }}"></a>
        <div>
            <ul>
                <li><a href="https://github.com/Bredalis" target="_blank">GitHub<a></li>
                <li><a href="https://www.linkedin.com/in/bredalis-gautreaux/" target="_blank">LinkedIn</a></li>
                <li><a href="https://es.stackoverflow.com/users/293358/bredalis-gautreaux" target="_blank">Stack OverFlow</a></li>
                <li><a href="https://huggingface.co/chat/assistants?user=Bredalis" target="_blank">Hugging Face</a></li>
                <li><a href="https://x.com/Bredalis_P" target="_blank">X</a></li>
            </ul>

            <ul>
                <li><a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">Licencia Pública General GNU v3.0</a></li>
            </ul>

            <p>© 2024 InformatikSpace <br> Todos los derechos reservados</p>
        </div>
    </footer>

</body>
</html>